---
import Layout from "../layouts/Layout.astro";

const links = [
  { name: "Google", url: "https://www.google.com" },
  { name: "GitHub", url: "https://www.github.com" },
  { name: "Astro", url: "https://www.astro.build" },
];
---

<Layout>
  <h1>Welcome to Astro!</h1>
  <div class="flex gap-2">
    {
      links.map((link) => (
        <a href={link.url} class="underline">
          {link.name}
        </a>
      ))
    }
  </div>
</Layout>
